# 📝 版本记录（不存储在 Git 中）
*.log
*.bak

# 🛠️ xmake
.xmake/
build/
/bin/

# 💻 IDE
.vscode/
.idea/
*.suo
*.user
*.sln.docstates
.vs/

# 📦 构建产物
*.dll
*.exe
*.pdb
*.lib
*.obj
*.o

# 🐍 Python 缓存
**/__pycache__/
*.py[cod]

# 🧹 临时文件
*.tmp
*.temp
temp/
tmp/
